apiVersion: v1
kind: Service
metadata:
  name: OpsSentinal-postgres-service
  namespace: OpsSentinal
  labels:
    app: OpsSentinal-postgres
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: OpsSentinal-postgres

