apiVersion: v1
kind: Service
metadata:
  name: opsknight-postgres-service
  namespace: opsknight
  labels:
    app: opsknight-postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: opsknight-postgres
